.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .dice {
    text-align: center;
    display: inline-block;
  
  }
  
  body {
    background-color: #264270;
  }
  
  h1 {
    margin: 30px;
    font-family: 'Dancing Script', cursive;
    text-shadow: 5px 0 #4b70a0;
    font-size: 7.5rem;
    color: #2ad49c;
  }
  
  p {
    font-size: 2rem;
    color: #5fee42;
    font-family: 'Indie Flower', cursive;
  }
  
  img {
    width: 80%;
  }

  h2{
    font-size: 4rem;
    color: #2fd19b;
    font-family: 'Dancing Script', cursive;
  }
  